.about {
  position: relative;

  &__presentation {
    display: flex;
    align-items: center;
  }

  &__text {
    width: 60vw;
    padding: 0 2rem 0 2rem;
    font-weight: 500;
    text-align: justify;
    font-size: 1.2rem;
    color: $text-color;
    line-height: 1.4;
  }

  &__text-item {
    margin-top: 1rem;
  }

  &__wrap-img {
    padding-left: 3rem;
  }

  &__header {
    @include screen-header;
  }

  &__header-text {
    @include screen-header-text;
  }

  &__img {
    height: 50vh;
  }

}

@media all and (max-width: 767.9px) {
  .about {
    &__header {
      margin: 4rem 0 2rem;
    }

    &__presentation {
      display: flex;
      flex-direction: column-reverse;
    }

    &__text {
      width: 80vw;
      padding: 0;
  }

  &__wrap-img {
    padding: 0;
    margin-bottom: 1rem;
  }

  &__img {
    height: auto;
    max-width: 60vw;
  }

  &__header-text {
    font-size: 2.5rem;
  }
}

}