.about {
  position: relative;

  &__presentation {
    display: flex;
    align-items: center;
  }

  &__text {
    width: 60vw;
    padding: 0 2rem 0 2rem;
    font-weight: 500;
    text-align: justify;
    font-size: 1.2rem;
    color: $text-color;
  }

  &__wrap {
    padding-left: 3rem;
  }

  &__header {
    @include screen-header;
  }

  &__header-text {
    @include screen-header-text;
  }

  &__img {
    height: 50vh;
  }

}

