.portfolio {
  background-color: #FFF9F0;

.teleport_img-appl {
  margin-top: 2rem;
}

.brand-img {
  padding-top: 1rem;
}

  &__header {
    @include screen-header-text;
  }

  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 7rem !important;
    padding: 2rem;
  }

  &__text {
    color: $text-color;
    font-size: 1.1rem;
    text-align: justify;
    font-weight: 300;
    width: 58%;
    line-height: 1.4;
  }

  &__name {
    font-size: 2.5rem;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
    color: #D6B65E
    //#4A9680
    //#D6B65E
    //#4FA19F
  }

  &__brief, &__task {
    color: #4a7989;
    font-size: 1.5rem;
    font-weight: 900;
  }

  &__images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }

  &__img {
    width: 440px;
    margin-left: 1rem;
  }

  &__info-wrap {
    background-color: #FFF9F0;
    //#FFFAE3
    //#FFF9F0
    // #e2f8ff;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem 3rem;
  }

  &__stack {
    color: #D6B65E;
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 1.4;
  }
}

@media all and (max-width: 1039.9px) {
  .portfolio {

    &__header{
      margin: 4rem 0 !important;
    }

    &__wrap {
      margin-top: 4rem !important;
      flex-direction: column;
      padding: 0;
    }

    &__text {
      width: auto;
      margin-bottom: 2rem !important;
    }

    &__task, &__task-item {
      display: none;
    }

    &__info {
      flex-direction: column;
      align-items: start;
      padding: 1rem 0 3rem;
    }
  }

  .teleport_img-appl {
    display: none;
  }

  .portfolio__img {
    width: 80vw;
  }

  .links {
    margin-top: 2rem;

    &__item {
      padding: 0 2rem 0 0 !important;
    }
  }
}