
.teleport_img-home {
  // height: 58vh;
  max-width: 39%;
  max-height: 60vh;
}
.teleport_img-appl {
  // height: 48vh;
  max-width: 59%;
  max-height: 60vh;
}

.brand-img {
  max-height: 55vh;

}

.portfolio {

  &__header {
    @include screen-header;
  }

  &__header-text {
    @include screen-header-text;
  }

  &__wrap {
    margin-top: 3rem;
  }

  &__text {
    margin-bottom: 3rem !important;
    color: $text-color;
    font-size: 1.5rem;
    text-align: justify;
    font-weight: 600;
    margin-top: 3rem;
  }

  &__name {
    font-size: 3rem;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
    color: #D6B65E
    //#4A9680
    //#D6B65E
    //#4FA19F
  }

  &__images {
    display: flex;
    justify-content: space-around;
    align-items: center;

  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
    background-color: white;
    //aliceblue;
  }

  &__stack {
    color: #D6B65E;
    font-size: 1.3rem;
    font-weight: 800;
  }
}

