.stack {

  &__list-wrap {
    position: relative;
  }

  &__header {
    @include screen-header;
  }

  &__header-text {
    @include screen-header-text;
  }

  &__list {
    width: 790px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 3rem;
    justify-items: center;
    margin: 0 auto;
  }
}

.logo-nd {
  width: 9rem;
}

.logo-ps {
  height: 5rem;
}

.logo {
  height: 6rem;

  &__js {
    fill: #f2bf4f;
  }

  &__react {
    fill: #5fd2f3;
  }

  &__php {
    fill:  #5372a5;
  }

  &__laravel {
    fill: #f62c1e;
  }

  &__docker {
    fill: #2591e6;
  }

  &__html {
    fill:  #dd4b25;
  }

  &__sass {
    fill: #c96092;
  }

  &__css {
    fill:  #244bdd;
  }

  &__figma_st0 {
    fill:#0acf83; 
  }

  &__figma_st1 {
    fill:#a259ff; 
  }

  &__figma_st2 {
    fill:#f24e1e; 
  }

  &__figma_st3 {
    fill:#ff7262; 
  }

  &__figma_st4 {
    fill:#1abcfe; 
  }
  }

  .st0 {
    fill:#001E36;
  }

  .st1 {
    fill:#31A8FF;
  }

  .cls-1 {
    fill: #23596b;
  }

  @media all and (max-width: 767.9px) {
    .stack {
      &__header{
        margin: 4rem 0 2rem !important;
      }

      &__header-text {
        font-size: 2.5rem;
      }

      &__list {
        width: auto;
        display: grid;
        grid-template-columns: repeat(3, 33%);
        grid-row-gap: 2rem;
      }
    }

    .logo, .logo-ps {
      height: 3rem;
    }

    .logo-nd {
      width: 6rem;
    }
  }