html,
body {
  height: 100%;
  background-color: #ffffff;
  font-family: "JetBrains Mono", monospace;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.str0 {
  stroke: #4a7989;
  stroke-width: 0.39;
  stroke-miterlimit: 22.9256;
}

.fil1 {
  fill: #FFDBB8;
}

.fil2 {
  fill: #e6c6a7;
}

.fil0 {
  fill: #4a7989;
}

.fil3 {
  fill: #6e8e99;
}

.fil4 {
  fill: #3c616d;
}

.svg {
  margin-left: 2%;
  shape-rendering: geometricPrecision;
  text-rendering: geometricPrecision;
  image-rendering: optimizeQuality;
  fill-rule: evenodd;
  clip-rule: evenodd;
  width: 5rem;
  height: 6rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__wrap {
  position: sticky;
  top: 0;
  background-color: aliceblue;
  z-index: 5;
}
.header__slogan {
  margin-left: 1rem;
  color: #4a7989;
}
.header__logo {
  display: flex;
  align-items: center;
  width: 15rem;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}
.nav__item {
  font-size: 1.2rem;
  font-weight: 500;
  color: #4a7989;
  cursor: pointer;
}
.nav__dropdown-icon {
  width: 2rem;
  fill: #4a7989;
}
.nav__dropdown {
  position: relative;
  display: inline-block;
  padding-right: 1rem;
  padding-left: 70px;
}
.nav__dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 1rem 1rem 2rem 1rem;
  z-index: 1;
  right: 1rem;
  text-align: end;
  cursor: pointer;
  color: #31494f;
  font-weight: 200;
}
.nav__dropdown:hover .nav__dropdown-content {
  display: block;
}
.nav__dropdown-item {
  margin-top: 1rem;
}

@media all and (max-width: 1139.9px) {
  .nav {
    display: none;
  }
}
@media all and (min-width: 1140px) {
  .nav__dropdown {
    display: none;
  }
}
.intro {
  height: 100vh;
  position: relative;
}
.intro__description {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
}
.intro__text {
  margin-left: 5vw;
  font-weight: 500;
  text-align: justify;
  font-size: 1.5rem;
  color: #31494f;
  line-height: 1.2;
}
.intro__text-item {
  margin-top: 1rem;
}
.intro__name {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  font-weight: 900;
  color: #4a7989;
  margin: 3rem 0;
}
.intro__img {
  max-height: 60vh;
  max-width: 456px;
}

@media all and (max-width: 1139.9px) {
  .intro__description {
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
  }
  .intro__img {
    height: 30vh;
  }
  .intro__text {
    text-align: center;
    margin-left: 0;
    margin-top: 2rem;
  }
}
@media all and (max-width: 767.9px) {
  .intro {
    height: auto;
  }
  .intro__name {
    font-size: 1.5rem;
  }
  .intro__text {
    font-size: 1.1rem;
  }
}
.about {
  position: relative;
}
.about__presentation {
  display: flex;
  align-items: center;
}
.about__text {
  width: 60vw;
  padding: 0 2rem 0 2rem;
  font-weight: 500;
  text-align: justify;
  font-size: 1.2rem;
  color: #31494f;
  line-height: 1.4;
}
.about__text-item {
  margin-top: 1rem;
}
.about__wrap-img {
  padding-left: 3rem;
}
.about__header {
  margin-bottom: 4rem;
}
.about__header-text {
  text-align: center;
  color: #4a7989;
  font-size: 3rem;
  font-weight: 700;
}
.about__img {
  height: 50vh;
}

@media all and (max-width: 767.9px) {
  .about__header {
    margin: 4rem 0 2rem;
  }
  .about__presentation {
    display: flex;
    flex-direction: column-reverse;
  }
  .about__text {
    width: 80vw;
    padding: 0;
  }
  .about__wrap-img {
    padding: 0;
    margin-bottom: 1rem;
  }
  .about__img {
    height: auto;
    max-width: 60vw;
  }
  .about__header-text {
    font-size: 2.5rem;
  }
}
.stack__list-wrap {
  position: relative;
}
.stack__header {
  margin-bottom: 4rem;
}
.stack__header-text {
  text-align: center;
  color: #4a7989;
  font-size: 3rem;
  font-weight: 700;
}
.stack__list {
  width: 790px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 3rem;
  justify-items: center;
  margin: 0 auto;
}

.logo-nd {
  width: 9rem;
}

.logo-ps {
  height: 5rem;
}

.logo-ts {
  height: 5.3rem;
}

.logo {
  height: 6rem;
}
.logo__js {
  fill: #f2bf4f;
}
.logo__react {
  fill: #5fd2f3;
}
.logo__php {
  fill: #5372a5;
}
.logo__laravel {
  fill: #f62c1e;
}
.logo__docker {
  fill: #2591e6;
}
.logo__html {
  fill: #dd4b25;
}
.logo__sass {
  fill: #c96092;
}
.logo__css {
  fill: #244bdd;
}
.logo__figma_st0 {
  fill: #0acf83;
}
.logo__figma_st1 {
  fill: #a259ff;
}
.logo__figma_st2 {
  fill: #f24e1e;
}
.logo__figma_st3 {
  fill: #ff7262;
}
.logo__figma_st4 {
  fill: #1abcfe;
}

.st0 {
  fill: #001E36;
}

.st1 {
  fill: #31A8FF;
}

.cls-1 {
  fill: #23596b;
}

@media all and (max-width: 767.9px) {
  .stack__header {
    margin: 4rem 0 2rem !important;
  }
  .stack__header-text {
    font-size: 2.5rem;
  }
  .stack__list {
    width: auto;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-row-gap: 2rem;
  }
  .logo, .logo-ps {
    height: 3rem;
  }
  .logo-nd {
    width: 4.5rem;
  }
  .logo-ts {
    height: 2.8rem;
  }
}
.slide-in-right {
  -webkit-animation: slide-in-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/**
 * ----------------------------------------
 * animation slide-in-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
.slide-in-left {
  -webkit-animation: slide-in-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
.slide-in-top {
  -webkit-animation: slide-in-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/**
 * ----------------------------------------
 * animation slide-in-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
.slide-in-tr {
  -webkit-animation: slide-in-tr 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-tr 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/**
 * ----------------------------------------
 * animation slide-in-tr
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-tr {
  0% {
    -webkit-transform: translateY(-1000px) translateX(1000px);
    transform: translateY(-1000px) translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
    transform: translateY(0) translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-tr {
  0% {
    -webkit-transform: translateY(-1000px) translateX(1000px);
    transform: translateY(-1000px) translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
    transform: translateY(0) translateX(0);
    opacity: 1;
  }
}
.slide-in-tl {
  -webkit-animation: slide-in-tl 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-tl 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/**
 * ----------------------------------------
 * animation slide-in-tl
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-tl {
  0% {
    -webkit-transform: translateY(-1000px) translateX(-1000px);
    transform: translateY(-1000px) translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
    transform: translateY(0) translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-tl {
  0% {
    -webkit-transform: translateY(-1000px) translateX(-1000px);
    transform: translateY(-1000px) translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
    transform: translateY(0) translateX(0);
    opacity: 1;
  }
}
.slide-in-br {
  -webkit-animation: slide-in-br 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-br 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/**
 * ----------------------------------------
 * animation slide-in-br
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-br {
  0% {
    -webkit-transform: translateY(1000px) translateX(1000px);
    transform: translateY(1000px) translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
    transform: translateY(0) translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-br {
  0% {
    -webkit-transform: translateY(1000px) translateX(1000px);
    transform: translateY(1000px) translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
    transform: translateY(0) translateX(0);
    opacity: 1;
  }
}
.slide-in-bl {
  -webkit-animation: slide-in-bl 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-bl 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/**
 * ----------------------------------------
 * animation slide-in-bl
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-bl {
  0% {
    -webkit-transform: translateY(1000px) translateX(-1000px);
    transform: translateY(1000px) translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
    transform: translateY(0) translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-bl {
  0% {
    -webkit-transform: translateY(1000px) translateX(-1000px);
    transform: translateY(1000px) translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
    transform: translateY(0) translateX(0);
    opacity: 1;
  }
}
.slide-in-bottom {
  -webkit-animation: slide-in-bottom 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-bottom 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/**
 * ----------------------------------------
 * animation slide-in-bottom
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
.portfolio {
  background-color: #FFF9F0;
}
.portfolio .teleport_img-appl {
  margin-top: 2rem;
}
.portfolio .brand-img {
  padding-top: 1rem;
}
.portfolio__header {
  text-align: center;
  color: #4a7989;
  font-size: 3rem;
  font-weight: 700;
}
.portfolio__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 7rem !important;
}
.portfolio__text {
  color: #31494f;
  font-size: 1.1rem;
  text-align: justify;
  font-weight: 300;
  width: 58%;
  line-height: 1.4;
}
.portfolio__name {
  font-size: 2.5rem;
  font-weight: 900;
  font-family: "Montserrat", sans-serif;
  color: #D6B65E;
}
.portfolio__brief, .portfolio__task {
  color: #4a7989;
  font-size: 1.5rem;
  font-weight: 900;
}
.portfolio__images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.portfolio__img {
  width: 440px;
  margin-left: 1rem;
}
.portfolio__info-wrap {
  background-color: #FFF9F0;
}
.portfolio__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 0 3rem;
}
.portfolio__stack {
  color: #D6B65E;
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 1.4;
}

@media all and (max-width: 767.9px) {
  .portfolio__header {
    margin: 4rem 0 !important;
  }
  .portfolio__wrap {
    margin-top: 4rem !important;
    flex-direction: column;
  }
  .portfolio__text {
    width: auto;
    margin-bottom: 2rem !important;
  }
  .portfolio__task, .portfolio__task-item {
    display: none;
  }
  .portfolio__info {
    flex-direction: column;
    align-items: start;
  }
  .teleport_img-appl {
    display: none;
  }
  .portfolio__img {
    width: 80vw;
  }
  .links {
    margin-top: 2rem;
  }
  .links__item {
    padding: 0 2rem 0 0 !important;
  }
}
.contact {
  text-align: center;
}
.contact__text {
  font-size: 1.8rem;
  color: #4a7989;
  font-weight: 500;
  margin-top: 4rem;
}
.contact__email {
  font-size: 3rem;
  color: #4a7989;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  margin-top: 4rem;
}

@media all and (max-width: 767.9px) {
  .contact__email {
    font-size: 1.5rem;
    margin: 4rem auto;
  }
  .contact__text {
    font-size: 1.5rem;
    width: 80vw;
    margin: 0 auto;
  }
}
.contact {
  height: 100vh;
}

.container {
  margin: 0 auto;
  width: 1140px;
  min-width: 1140px;
  max-width: 1600px;
}

.arrow {
  fill: #4a7989;
  cursor: pointer;
  margin-left: 2%;
  margin-top: 3rem;
}

.arrow:hover {
  fill: #6e8e99;
}

.links {
  display: flex;
}
.links__item {
  padding: 0 1rem;
}

.icon {
  fill: #31494f;
}

.point {
  vertical-align: bottom;
  margin-right: 1rem;
  width: 20px;
}

.point-small {
  vertical-align: middle;
  margin-right: 1rem;
  width: 12px;
}

.mt10 {
  margin-top: 10rem;
}

.mt03 {
  margin-top: 0.3rem;
}

.pt2 {
  padding-top: 2rem;
}

.pb2 {
  padding-bottom: 2rem;
}

@media all and (max-width: 1139.9px) {
  .container {
    width: 96vw;
    min-width: 200px;
  }
}
@media all and (max-width: 767.9px) {
  .container {
    width: 80vw;
  }
  .intro .arrow {
    display: none;
  }
}/*# sourceMappingURL=index.css.map */