$text-color: #31494f;
$special-color: #4a7989;

@mixin screen-header {
  margin-bottom: 4rem;
}

@mixin screen-header-text {
  text-align: center;
  color: $special-color;
  font-size: 3rem;
  font-weight: 700;
}

html,
body {
  height: 100%;
  background-color: #ffffff;
  //#edeef5;
  font-family: 'JetBrains Mono', monospace;
}

@import "header";
@import "intro";
@import "about";
@import "stack";
@import "slide";
@import "portfolio";
@import "contact";


.contact {
  height: 100vh;
}

.container {
  margin: 0 auto;
  width: 1140px;
  min-width: 1140px;
  max-width: 1600px;
}

.arrow {
  fill: $special-color;
  cursor: pointer;
  margin-left: 2%;
  margin-top: 3rem;
}

.arrow:hover {
  fill: #6e8e99;
}

.links {
  display: flex;

  &__item {
    padding: 0 1rem;
  }
}

.icon {
  fill: $text-color;
}

.point {
  vertical-align: bottom;
  margin-right: 1rem;
  width: 20px;
}

.point-small {
  vertical-align: middle;
  margin-right: 1rem;
  width: 12px;
}

.mt10 {
  margin-top: 10rem;
}
.mt03 {
  margin-top: 0.3rem;
}


