html,
body {
  height: 100%;
  background-color: #f8fbff;
  font-family: "JetBrains Mono", monospace;
}

.str0 {
  stroke: #4a7989;
  stroke-width: 0.39;
  stroke-miterlimit: 22.9256;
}

.fil1 {
  fill: #FFDBB8;
}

.fil2 {
  fill: #e6c6a7;
}

.fil0 {
  fill: #4a7989;
}

.fil3 {
  fill: #6e8e99;
}

.fil4 {
  fill: #3c616d;
}

.svg {
  margin-left: 2%;
  shape-rendering: geometricPrecision;
  text-rendering: geometricPrecision;
  image-rendering: optimizeQuality;
  fill-rule: evenodd;
  clip-rule: evenodd;
  width: 5rem;
  height: 6rem;
}

.header {
  display: flex;
  justify-content: space-between;
}
.header__slogan {
  margin-left: 1rem;
  color: #4a7989;
}
.header__logo {
  display: flex;
  align-items: center;
  width: 15rem;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}
.nav__item {
  font-size: 1.2rem;
  font-weight: 500;
  color: #4a7989;
  cursor: pointer;
}

@media all and (max-width: 890px) {
  .nav {
    width: 40%;
    transform: translate(-90%, -50%);
  }
}
@media all and (max-width: 725px) {
  .nav {
    display: none;
  }
}
.intro {
  height: 100vh;
  position: relative;
}
.intro__description {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
}
.intro__text {
  margin-left: 5vw;
  font-weight: 500;
  text-align: justify;
  font-size: 1.5rem;
  color: #31494f;
}
.intro__name {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  font-weight: 900;
  color: #4a7989;
}
.intro__img {
  height: 60vh;
}

@media all and (max-width: 890px) {
  .intro__text {
    width: 80vw;
    margin: 3vw auto 0 auto;
    text-align: center;
    font-size: 1.2rem;
  }
  .intro__description {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -60%);
  }
  .intro__img {
    height: 40vh;
  }
}
.about {
  position: relative;
}
.about__presentation {
  display: flex;
  align-items: center;
}
.about__text {
  width: 60vw;
  padding: 0 2rem 0 2rem;
  font-weight: 500;
  text-align: justify;
  font-size: 1.2rem;
  color: #31494f;
}
.about__wrap {
  padding-left: 3rem;
}
.about__header {
  margin-bottom: 4rem;
}
.about__header-text {
  text-align: center;
  color: #4a7989;
  font-size: 3rem;
  font-weight: 700;
}
.about__img {
  height: 50vh;
}

@media all and (max-width: 1139px) {
  .about__text {
    width: 80vw;
    margin: 0 auto;
    text-align: center;
    padding: 0;
  }
  .about__presentation {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -60%);
  }
  .about__img, .test__img {
    height: 35vh;
    width: 250px;
  }
  .about__header {
    left: 2%;
    top: 0%;
    transform: translate(0);
  }
  .about__wrap {
    padding: 0;
  }
}
.stack__list-wrap {
  position: relative;
}
.stack__header {
  margin-bottom: 4rem;
}
.stack__header-text {
  text-align: center;
  color: #4a7989;
  font-size: 3rem;
  font-weight: 700;
}
.stack__list {
  width: 790px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 3rem;
  justify-items: center;
  margin: 0 auto;
}

.logo__js {
  fill: #f2bf4f;
}
.logo__react {
  fill: #5fd2f3;
}
.logo__php {
  fill: #5372a5;
}
.logo__laravel {
  fill: #f62c1e;
}
.logo__docker {
  fill: #2591e6;
}
.logo__html {
  fill: #dd4b25;
}
.logo__sass {
  fill: #c96092;
}
.logo__css {
  fill: #244bdd;
}
.logo__figma_st0 {
  fill: #0acf83;
}
.logo__figma_st1 {
  fill: #a259ff;
}
.logo__figma_st2 {
  fill: #f24e1e;
}
.logo__figma_st3 {
  fill: #ff7262;
}
.logo__figma_st4 {
  fill: #1abcfe;
}

.st0 {
  fill: #001E36;
}

.st1 {
  fill: #31A8FF;
}

.cls-1 {
  fill: #23596b;
}

.slide-in-right {
  -webkit-animation: slide-in-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/**
 * ----------------------------------------
 * animation slide-in-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
.slide-in-left {
  -webkit-animation: slide-in-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
.slide-in-top {
  -webkit-animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/**
 * ----------------------------------------
 * animation slide-in-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
.slide-in-tr {
  -webkit-animation: slide-in-tr 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-tr 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/**
 * ----------------------------------------
 * animation slide-in-tr
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-tr {
  0% {
    -webkit-transform: translateY(-1000px) translateX(1000px);
    transform: translateY(-1000px) translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
    transform: translateY(0) translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-tr {
  0% {
    -webkit-transform: translateY(-1000px) translateX(1000px);
    transform: translateY(-1000px) translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
    transform: translateY(0) translateX(0);
    opacity: 1;
  }
}
.slide-in-tl {
  -webkit-animation: slide-in-tl 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-tl 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/**
 * ----------------------------------------
 * animation slide-in-tl
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-tl {
  0% {
    -webkit-transform: translateY(-1000px) translateX(-1000px);
    transform: translateY(-1000px) translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
    transform: translateY(0) translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-tl {
  0% {
    -webkit-transform: translateY(-1000px) translateX(-1000px);
    transform: translateY(-1000px) translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
    transform: translateY(0) translateX(0);
    opacity: 1;
  }
}
.slide-in-br {
  -webkit-animation: slide-in-br 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-br 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/**
 * ----------------------------------------
 * animation slide-in-br
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-br {
  0% {
    -webkit-transform: translateY(1000px) translateX(1000px);
    transform: translateY(1000px) translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
    transform: translateY(0) translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-br {
  0% {
    -webkit-transform: translateY(1000px) translateX(1000px);
    transform: translateY(1000px) translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
    transform: translateY(0) translateX(0);
    opacity: 1;
  }
}
.slide-in-bl {
  -webkit-animation: slide-in-bl 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-bl 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/**
 * ----------------------------------------
 * animation slide-in-bl
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-bl {
  0% {
    -webkit-transform: translateY(1000px) translateX(-1000px);
    transform: translateY(1000px) translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
    transform: translateY(0) translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-bl {
  0% {
    -webkit-transform: translateY(1000px) translateX(-1000px);
    transform: translateY(1000px) translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
    transform: translateY(0) translateX(0);
    opacity: 1;
  }
}
.slide-in-bottom {
  -webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/**
 * ----------------------------------------
 * animation slide-in-bottom
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
.teleport_img-home {
  max-width: 39%;
  max-height: 60vh;
}

.teleport_img-appl {
  max-width: 59%;
  max-height: 60vh;
}

.brand-img {
  max-height: 55vh;
}

.portfolio__header {
  margin-bottom: 4rem;
}
.portfolio__header-text {
  text-align: center;
  color: #4a7989;
  font-size: 3rem;
  font-weight: 700;
}
.portfolio__wrap {
  margin-top: 3rem;
}
.portfolio__text {
  margin-bottom: 3rem !important;
  color: #31494f;
  font-size: 1.5rem;
  text-align: justify;
  font-weight: 600;
  margin-top: 3rem;
}
.portfolio__name {
  font-size: 3rem;
  font-weight: 900;
  font-family: "Montserrat", sans-serif;
  color: #D6B65E;
}
.portfolio__images {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.portfolio__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
  background-color: white;
}
.portfolio__stack {
  color: #D6B65E;
  font-size: 1.3rem;
  font-weight: 800;
}

.contact {
  height: 100vh;
}

.container {
  margin: 0 auto;
  width: 1140px;
  min-width: 1140px;
  max-width: 1600px;
}

.arrow {
  fill: #4a7989;
  cursor: pointer;
  margin-left: 2%;
  margin-top: 3rem;
}

.arrow:hover {
  fill: #6e8e99;
}

.links {
  display: flex;
}
.links__item {
  padding: 0 1rem;
}

.icon {
  fill: #31494f;
}/*# sourceMappingURL=index.css.map */